/*banner*/
.banner-content {
    float: right;
    position: relative;

    .slick-list {
        background: #fff none repeat scroll 0 0;
        margin-right: 2px;
        padding: 2px;
        @include box-shadow( 0 0 2px 0 #000000 );
    }

    img {
        width: 100%;
    }

    .slick-dots {
        bottom: 0;
        position: absolute;
        right: 15px;

        li {
            float: left;

            button {
                background: $black2;
                border: 1px solid $black;
                border-radius: 5px;
                color: $black4;
                margin: 0 5px 10px 0;
                opacity: 0.5;
            }
        }
    }
}