/*breadcrumb*/
.woocommerce .woocommerce-breadcrumb {
    padding: 10px 0;
    font-size: 14px;
    color: $black3;
    margin: 0;
    border-bottom: 1px solid $black4;

    a {
        color: $black3;
    }
}


.custom-breadcrumb-wc #container #content .container {
    padding: 0;
    width: auto;
}