
.product-best-selling, .search-results {
	.title-page {
		h1 {
			margin: 0;
		}
	}
	.p-info {
		.p-detail {
			.p-sale {
			    font-size: 32px;
			}
			.read-more {
			    display: none;
			}
			.p-view {
			    margin-right: 15px;
			}
		}	
	}
}

.single-product .woocommerce-Price-amount.amount {
	display: none;
}
.order-total .woocommerce-Price-amount.amount {
	color: $orange;
}
.checkout-button.button.alt.wc-forward {
    background: $green none repeat scroll 0 0;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    padding: 10px;
}
.checkout-button.button.alt.wc-forward:hover {
    background: $green;
}
.product-name a {
    color: #000;
}
.title-page h1 {
    border-bottom: 1px solid $orange;
    display: block;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
    padding: 0 0 10px;
}
.woocommerce-page #payment #place_order {
    background: $green none repeat scroll 0 0;
    color: #fff;
    font-size: 24px;
    font-weight: normal;
    padding: 10px;
    margin: 0 !important;
}
.woocommerce-page #payment .place-order {
	padding: 1em 0 !important;
}
.woocommerce div.product form.cart .button {
    background: $green none repeat scroll 0 0;
    font-weight: 400;
}
.woocommerce-order-details {
	display: none;
}
