
.woocommerce-checkout .col2-set .col-2 {
    width: 100%;
}


.page-article {
	.woocommerce-checkout {
		.col2-set {
			.col-1, .col-2 {
				width: 100%;
			}
		}
		input, textarea {
		    border: 1px solid $black4;
		    border-radius: 5px;
		    line-height: 1.4;
		    padding: 6px;
		}
	}
}


#billing_country_field, #billing_city_field {
	display: none !important;
}
.woocommerce-account-fields {
	display: none;
}


.woocommerce-form__label-for-checkbox input {
    margin: 8px 0px 0 -20px !important;
}
.woocommerce-form__label-for-checkbox {
    padding-left: 20px;
}