
.header-top {
    background: $black none repeat scroll 0 0;

    .header-top-content {
        float: right;
        padding: 5px 0;

        a {
            color: #ffffff;
            font-size: 12px;
            text-transform: uppercase;
        }

        .fa {
            font-size: 12px;
            margin-left: 6px;
            margin-right: 5px;
        }
    }
}

.header-bottom {
    background: $black2 none repeat scroll 0 0;
    padding: 15px 0;

    .logo {
        float: left;
        width: 20%;
    }

    .menu {
        float: left;
        margin-top: 10px;
        width: 80%;

        .main-menu {
            float: right;
        }

        .fa {
            border: 2px solid $orange;

            color: $green;
            font-size: 22px;
            left: 0;
            line-height: 32px;
            position: absolute;
            text-align: center;
            top: 50%;

            width: 37px;
            @include transform( translateY(-50%) );
            @include border-radius( 50% );
        }
    }

    .main-menu .menu-primary > li {
        float: left;
        margin-left: 15px;
        position: relative;

        > a {
            color: $black4;
            display: inline-block;
            font-size: 11px;
            line-height: 1.2;
            padding-left: 40px;
            text-transform: uppercase;
        }
    }
}

.home .header-menu .header-menu-left .menu-product {
    display: block;
}

.header-menu {
    background: #f3831f none repeat scroll 0 0;
    display: -webkit-flex;

    .header-menu-left {
        position: relative;

        &:hover .menu-product {
            display: block;
        }

        .title-menu-product {
            color: #ffffff;
            cursor: pointer;
            font-size: 17px;
            font-weight: bold;
            line-height: 50px;
            position: relative;

            &::after {
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 8px solid #ffffff;
                content: "";
                display: inline-block;
                height: 10px;
                left: 175px;
                position: absolute;
                top: 8px;
                width: 10px;
            }
        }

        .menu-product {
            background: #ffffff none repeat scroll 0 0;
            border: 1px solid $black4;

            display: none;
            left: 15px;
            padding: 0 0 0 10px;
            position: absolute;
            top: 50px;
            z-index: 20;
            @include border-radius( 2px );
            @include box-shadow( 0 0 1px 0 $black );

            &::after {
                border-bottom: 8px solid #ffffff;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                content: "";
                height: 10px;
                left: 172px;
                position: absolute;
                top: -10px;
                width: 10px;
            }

            li .sub-menu {
                background: #ffffff none repeat scroll 0 0;
                border: 1px solid $black4;
                border-radius: 2px;
                display: none;
                left: 100%;
                position: absolute;
                top: -1px;
                // min-height: 345px;
                height: 101%;
                min-width: 200%;
                z-index: 10;

                li a {
                    color: $black3;
                    display: block;
                    font-size: 13px;
                    padding: 5px 10px 5px 30px;
                    position: relative;
                }
            }

            > li:last-child > a {
                border-bottom: medium none;
            }

            > li:first-child > a {
                color: $green;

                &::after {
                    display: none;
                }
            }

            > li > a {
                border-bottom: 1px solid $black4;
                color: $black3;
                display: block;
                // padding: 5px 30px 5px 0;
                padding: 11px 30px 11px 0;
                position: relative;

                .fa {
                    color: $green;
                    // margin-right: 10px;
                    min-width: 20px;
                    text-align: center;
                }

                &::after {
                    background: rgba(0, 0, 0, 0) url("../../assets/images/icon/arrow-right-menu.png") no-repeat scroll center center;
                    content: "";
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    @include transform( translateY(-50%) );
                    width: 10px;
                    height: 12px;
                }

                &:hover {
                    color: $green;
                }
            }

            li .sub-menu li {
                a::after {
                    background: rgba(0, 0, 0, 0) url("../../assets/images/icon/arrow-right-menu.png") no-repeat scroll center center;
                    content: "";
                    left: 15px;
                    position: absolute;
                    top: 50%;
                    @include transform( translateY(-50%) );
                    width: 10px;
                    height: 12px;
                }

                &:first-child a {
                    color: $green;
                    font-weight: bold;
                    padding: 14px 10px 10px 15px;

                    &::after {
                        display: none;
                    }
                }
            }

            li:hover .sub-menu {
                display: block;
            }

            .current-menu-item a {
                color: $green;
            }
        }
    }

    .header-menu-right {
        float: left;
        overflow: auto;

        .search-box {
            float: left;
            overflow: hidden;
            padding: 0 20px 0 0;
            width: 75%;
            margin-top: 5px;

            form {
                display: -webkit-flex;
                font-size: 16px;
                overflow: hidden;
                width: 100%;
            }

            input {
                border: medium none;
                
                float: left;
                padding: 8px 0 8px 20px;
                width: 100%;
                @include border-radius( 4px 0 0 4px );
            }

            button {
                background: $black none repeat scroll 0 0;
                border: medium none;
                border-radius: 0 4px 4px 0;
                color: #ffffff;
                float: right;
                padding: 0 20px;
                white-space: nowrap;
            }
        }

        .cart-box {
            background: $orange none repeat scroll 0 0;
            color: #ffffff;
            float: left;
            overflow: hidden;
            padding: 2px 10px 10px;
            position: relative;
            width: 25%;

            .fa {
                color: #ffffff;
                font-size: 25px;
                margin-top: 12px;
            }

            .cart-quantity {
                font-weight: bold;
                left: 20px;
                position: absolute;
                top: 0;
            }

            .cart-total {
                font-size: 16px;
                margin: 0 0 0 8px;
            }
        }
    }
}




