.p-info {
    border: 1px solid $black4;
    margin-top: 30px;

    &:hover {
        
        @include box-shadow( 0 0 2px 0 $black );

        img {
            
            @include transform( scale(1.2, 1.2) );
        }
    }

    figure {
        overflow: hidden;
        padding: 1px;

        img {
            
            width: 100%;
            @include transition( all 1s ease 0s );
        }
    }

    .p-detail {
        display: inline-block;
        padding: 10px 10px 0;
        width: 100%;

        .p-title a {
            color: $black3;
            display: block;
            font-size: 16px;
            height: 50px;
            overflow: hidden;
        }

        .p-sale {
            color: $orange;
            float: left;
            font-size: 36px;
            font-weight: bold;
            line-height: 40px;
            margin-right: 5px;
        }

        .price {
            float: left;
            height: 50px;
            overflow: hidden;

            span {
                display: block;
            }

            .price-news {
                color: $green;
                font-size: 18px;
                font-weight: bold;
            }

            .price-old {
                color: $black8;
                margin-top: -5px;
                text-decoration: line-through;
            }

            .price-one {
                color: $green;
                font-size: 18px;
                font-weight: bold;
                line-height: 50px;
            }
        }

        .contactsky {
            color: $orange;
            float: left;
            font-size: 20px;
            font-weight: bold;
            line-height: 50px;
        }

        .p-view {
            float: right;
            height: 40px;
            margin-right: 30px;
            position: relative;

            .p-view-count {
                font-weight: bold;
            }

            .fa {
                bottom: 0;
                color: #00b1ec;
                font-size: 20px;
                left: 50%;
                position: absolute;
                
                @include transform( translateX(-50%) );
            }
        }

        .read-more {
            background: $green none repeat scroll 0 0;
            border-radius: 50%;
            color: #ffffff;
            float: right;
            font-size: 28px;
            font-weight: bold;
            padding: 0px 15px 2px 18px;
            text-align: center;
        }
    }
}


