
// .search .p-title a {
//     color: $black3;
//     display: block;
//     font-size: 16px;
//     margin: 10px 0 10px 10px;
// }
// .search .item {
//     margin-top: 15px;
// }
// .search .item figure img {
// 	width: 100%;
// }
// .search .item:nth-child(3n+1) {
// 	clear: left;
// }


