
.slick-gallery {
	.slick-list {
		padding: 0 !important;

		.slick-track {
		    
		}
	}

	.woocommerce-product-gallery__image {
	    float: left;
	    margin-top: 5px;
	    width: 25%;

	    img {
		    border: 1px solid $black4;
		    padding: 5px;
		    width: calc(100% - 5px) !important;
		}
	}
}

.carousel-images .slick-current a img {
    border: 3px solid #000;
}
.carousel-images .woocommerce-product-gallery__image a img {
    max-height: 100px;
}
.carousel-text .woocommerce-product-gallery__image a img {
    width: calc(100% - 2px) !important;
}
.carousel-text .woocommerce-product-gallery__image a img {
    max-height: 450px;
}


.entry-summary {

	.entry-title {
	    color: $black;
	    display: block;
	    font-size: 20px;
	    font-weight: bold;
	    margin-bottom: 10px;
	}

	> .price {
	    display: none;
	}
}


.single-product-info {
    background: #fafafa none repeat scroll 0 0;
    border-bottom: 1px solid $black4;
    border-top: 1px solid $black4;
    padding: 20px 0;

    .single-product-info-title {
	    color: #e6740e;
	    font-size: 24px;
	}
}


.service-info-single {
    border-bottom: 1px solid $black4;
    border-top: 1px solid $black4;
    display: inline-block;
    margin: 10px 0;
    padding: 10px 0;
    width: 100%;

    li {
	    float: left;
	    padding-left: 40px;
	    position: relative;
	    width: 33.3%;
	    line-height: 1.2;

	    .fa {
		    border: 2px solid $orange;
		    
		    color: $green;
		    font-size: 20px;
		    left: 0;
		    line-height: 30px;
		    position: absolute;
		    text-align: center;
		    top: 50%;
		    
		    width: 35px;
		    @include border-radius( 50% );
		    @include transform( translateY(-50%) );
		}

	    span {
		    color: $orange;
    		font-weight: bold;
    		display: block;
		}
	}
}


.variations select {
    border: 1px solid $black4;
}
.variations .reset_variations {
    color: $black;
    font-size: 14px !important;
    font-weight: bold;
}




.single_variation_wrap {
    
    display: -webkit-flex;
    
    @include align-items( center );
    @include justify-content( space-between );

    form {
    	margin-bottom: 0 !important;
    }
}

	.price-single {
	    display: inline-block;
	    float: left;
	    // margin-bottom: 20px;
	    position: relative;

	    .p-sale {
		    color: $green;
		    font-size: 16px;
		    font-weight: bold;
		    position: absolute;
		    right: 0;
		    top: 0;
		}

		.price {
		    display: -webkit-flex;
		    
		    @include flex-direction( column-reverse );

		    span {
			    display: block;
			    line-height: 1.1;
			    margin-right: 20px;
			}

			.price-old {
			    color: $black8;
			    font-size: 20px;
			    text-decoration: line-through;
			}

			.price-news {
			    color: $orange;
			    font-size: 30px;
			    font-weight: bold;
			}
		}

		.contactsky {
		    color: #fff;
		    font-size: 20px;
		    font-weight: bold;
		    line-height: 50px;
		}
	}
.product_meta {
    display: none;
}



.product-content-info {
    background: $orange none repeat scroll 0 0;
    display: inline-block;
    padding: 20px;
    width: 100%;

    .product-content-info-title {
	    color: #fff;
	    font-size: 24px;
	}

    .price-single {
	    margin-bottom: 0;

	    span {
		    color: #fff;
		}
		.price span {
		    color: #fff;
		}
	}
}


.price-single .price .price-one {
	color: green;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
}


.product-content-info-price {
    color: #fff;
    float: left;
    font-weight: bold;
    line-height: 1.2;
    margin: 8px 0 0 15%;
    padding-left: 40px;
    position: relative;

    .fa {
	    border: 2px solid #fff;
	    color: #fff;
	    font-size: 20px;
	    left: 0;
	    line-height: 30px;
	    position: absolute;
	    text-align: center;
	    top: 50%;
	    width: 35px;
	    @include border-radius( 50% );
	    @include transform( translateY(-50%) );
	}

    span {
	    display: block;
	}
}


.box-chat {
	.box-fb-comment {
	    border-bottom: 2px solid $orange;
	    border-top: 2px solid $orange;
	}
	.box-chat-title {
	    display: block;
	    font-size: 24px;
	    margin-top: 20px;
	}
}


.product-related {
	.related-title a {
	    color: $green;
	    display: block;
	    font-size: 24px;
	    margin-bottom: 10px;
	}

	.related-content .p-info {
	    margin: 0 0 30px;
	}

	.read-more {
	    display: none;
	}
}

.item-content-detail h2 {
    color: $black;
    display: block;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 30px;
}
.item-content-detail p {
    text-align: center;
}


.woocommerce .product {
    margin-top: 10px;
}
.woocommerce .product .cart .quantity input {
    height: 40px;
}
.woocommerce .product .cart .single_add_to_cart_button {
	height: 40px;
}
.woocommerce .product .cart .single_add_to_cart_button:hover {
	background: $green !important;
}



//ngoai le
.single_variation_wrap_no_price {
	.price, .p-sale {
		display: none;
	}
	.contactsky {
		color: $green;
	}
}

