
.widget_support {
    border: 1px solid #e5e5e5;
    font-size: 14px;
    line-height: 2;
    margin: 20px 0;
    padding: 10px 20px;

    .widget-title {
        color: $green;
        display: block;
        font-size: 24px;
        margin-bottom: 10px;
    }

    span {
        display: block;
    }

    a {
        color: $black3;
        display: block;

        .fa {
            color: $green;
            font-size: 18px;
            line-height: 1.6;
            margin-right: 10px;
            text-align: center;
            width: 18px;
        }
    }

    .tell {
        color: $orange;
        font-size: 18px;

        .fa {
            font-size: 28px;
        }
    }

    .title2 {
        border-top: 1px solid #e5e5e5;
        font-weight: bold;
        margin-top: 10px;
        padding-top: 10px;
    }
}

