/*RESPONSIVE*/
@media screen and (max-width:1199px) {
	.container {
		width: 100%;
	}
}

@media screen and (max-width:1024px) {
	.home .header-menu .header-menu-left .menu-product {
	    display: none;
	}
	.home .header-menu .header-menu-left:hover .menu-product {
	    display: block;
	}
	.banner-home .banner-content {
		width: 100%;
	}
}

@media screen and (max-width:992px) {
	.header-bottom .logo {
	    width: 212px;
	}
	.menu {

	    br {
	    	display: none;
	    }

	    .mean-container .mean-bar {
		    background: none;
		}

		.mean-bar {
		    position: absolute;
		    right: 0;
		    top: 72px;

		    .meanmenu-reveal {
		    	background: #0c1923 none repeat scroll 0 0;
		    }
		}
	}

	.mean-container .mean-nav ul li a {
	    padding: 1em 60px;
	}
	.header-bottom .menu .fa {
	    left: 15px;
	}
	.mean-container .mean-bar {
	    width: 70%;
	}


	.p-info .p-detail .p-view {
	    margin-right: 0;
	}
	.p-info .p-detail .read-more {
	    display: none;
	}


	.footer-top .item {
	    margin-bottom: 15px;
	}
}

@media screen and (max-width:767px) {
	.header-menu {
		.header-menu-left {
		    width: auto;

		    .menu-product {

		    	> li > a {
				    white-space: nowrap;
				}

				li .sub-menu {
				    border: medium none;
				    position: relative;
				    top: 0;
				    left: 0;
				    height: auto !important;
				    background: #fff !important;
				    min-height: auto;
				    min-width: auto;

				    li:first-child a {
				    	display: none;
				    }
				}

				> li:last-child > a {
				    border-bottom: 1px solid #e5e5e5;
				}
		    }
		}
		.header-menu-right {
		    display: -webkit-flex;

		    .cart-box {
			    width: auto;

			    .cart-total {
				    display: none;
				}

				.cart-quantity {
				    left: 50%;
				    
				    @include transform( translateX(-50%) );
				}
			}

			.search-box {
			    width: 100%;
			}
		}
	}

	.p-info .p-detail .p-sale {
	    font-size: 22px;
	}


	footer .footer-top {
	    text-align: center;
	}

	// .search .item:nth-child(3n+1) {
	// 	clear: none;
	// }
	// .search .item:nth-child(2n+1) {
	// 	clear: left;
	// }

	//single product
	.carousel-text .woocommerce-product-gallery__image a img {
	    max-height: 100%;
	}
	.carousel-images .woocommerce-product-gallery__image a img {
	    max-height: 100%;
	}
}

@media screen and (max-width:550px) {
	.product-best-selling .item {
		width: 100%;
	}
}

@media screen and (max-width:480px) {
	.mean-container .mean-bar {
	    width: 100%;
	}

	.header-menu {

		// .header-menu-left {
		//     width: auto;

		//     .menu-product {

		//     	> li > a {
		// 		    white-space: nowrap;
		// 		}

		// 		li .sub-menu {
		// 		    border: medium none;
		// 		    position: relative;
		// 		    top: 0;
		// 		    left: 0;
		// 		    width: 100%;
		// 		    height: auto !important;
		// 		}

		// 		> li:last-child > a {
		// 		    border-bottom: 1px solid #e5e5e5;
		// 		}
		//     }
		// }

		.header-menu-right {
		    float: right;
		    width: auto;

		    .search-box {
			    display: none;
			}
		}
	}


	.archive-product-content .item {
	    width: 100%;
	}
	.p-info .p-detail .p-sale {
	    font-size: 30px;
	}

	.search .item {
		width: 100%;
	}

	.footer-bottom .item {
	    text-align: center;
	    width: 100%;
	}
	footer .footer-bottom .widget_social {
	    margin-top: 10px;
	    text-align: center;
	}

	//cart
	.service-info-single li {
		width: 100%;
		margin-bottom: 10px;
	}
	.service-info-single li:last-child {
		margin-bottom: 0;
	}
}

@media screen and (max-width:400px) {
	.entry-summary .single_variation_wrap {
		display: block;
	}
	.entry-summary .single_variation_wrap form {
	    clear: both;
	    padding-top: 10px;
	}
}



